.hidden {
    display: none;
}

/* Feature Control Tab */

.feature-control-tab-card {
    position: relative;
}

.feature-control-header {
    margin: 0px 0px 10px;
}

.fc-list {
    width: 100%;
    height: fit-content;
    max-height: 75vh;
    overflow-y: auto;
}

.feature-control-tab-title {
    font-weight: bold;
    grid-area: secTile;
    margin: 16px 0 8px;
}

div.priority-toggle {
    grid-area: toggle;
    align-self: stretch;
}

h4.priority-toggle {
    float: left;
    margin: 5px 0;
    font-weight: normal;
}

span.priority-toggle {
    margin-top: -3px;
}

/* .priority-toggle-switch {
    grid-area: toggle;
    align-self: stretch;
    margin-top: 20%;
} */

/* Feature Control */

.feature-control-card {
    display: grid;
    box-shadow: 0 0 1em #00000020;
    border-radius: 8px;
    height: 160px;
    margin-top: 2%;
    grid-template-columns: 8% 10% 72% 10%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas:
        "1 arrowu title lock"
        "pin input slider 2"
        "3 arrowd slider 4";
}

.feature-title {
    font-size: 20px;
    text-align: center;
    grid-area: title;
    margin-top: 7%;
    padding-right: 5%;
}

/* ARROWS */

.lock {
    grid-area: title;
    margin-left: 85%;
    margin-top: 3%;
    padding-left: 5%;
}

.lock img {
    height: 50%;
    width: 50%;
}

/* ARROWS */
.arrow-up-container {
    grid-area: arrowu;
    align-self: center;
    margin-top: 160%;
}

.arrow-up img {
    height: 50%;
    width: 50%;
}

.arrow-up.no-priority {
    filter: grayscale(100%);
}

.arrow-down-container {
    grid-area: arrowd;
    align-self: center;
    transform: rotate(180deg);
    margin-bottom: 60%;
}

.arrow-down img {
    height: 50%;
    width: 50%;
}

.arrow-down.no-priority {
    filter: grayscale(100%);
}

/* PIN */
.pin {
    grid-area: pin;
    align-self: center;
    margin-top: 60%;
}

.pin img {
    height: 60%;
    width: 60%;
}

/* PRIORITY INPUT */
.priority-value-input {
    grid-area: input;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 80%;
    ;
    height: 50%;
    border: none;
    align-self: center;
    margin-top: 50%;
    margin-left: 5%;
}


.priority-value-input:hover {
    border: beige;
}

.priority-value::-webkit-outer-spin-button,
.priority-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.priority-value[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* SLIDER */
.slider {
    grid-area: slider;
    align-self: strech;
    align-self: center;
    padding-left: 4%;
    padding-right: 4%;
}