*__pycache__
.vscode
*.code-workspace
fastcrf/*.html
fastcrf/*.cpp
fastcrf/*.so
build/*
mace_temp.log
!figures/*.ipynb
./baselines/ocean-err/*
rf.lp
scripts/*
results/*
node_modules
package-lock.json
webapp/backend/results/*
webapp/backend/visualization/data/explanation_paths.json
node_modules
*/package-lock.json
.vite