*__pycache__
.vscode
*.code-workspace
fastcrf/*.html
fastcrf/*.cpp
fastcrf/*.so
build/*
mace_temp.log
!figures/*.ipynb
./baselines/ocean-err/*
rf.lp
scripts/*
node_modules
package-lock.json
node_modules
*/package-lock.json
.vite
*.eslintrc.cjs