bitarray==2.6.0
ipython==8.4.0
matplotlib==3.5.1
matplotlib-inline==0.1.2
networkx==2.8.4
numpy==1.22.3
pandas==1.4.3
PySMT==0.9.5
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
tqdm==4.64.0
traitlets==5.1.1
gurobi==9.5.2
flask==3.0.0
flask-cors==4.0.0
