/*UNIVERSAL COMPONENTS*/
h1 {
    color: white;
}

h2 {
    color: orange;
}

p {
    color: white;
}

button {
    color: white;
    background-color: #3b24eb;
}

button:hover {
    background-color: #007ede;
}

button:disabled {
    opacity: 0.3;
}

:root {
    color: white;
    background-color: #202020;
}

.card {
    background-color: #424242;
    box-shadow: #ffffff88;
}

/*WELCOME SCREEN SECTION*/

.Selection-Box {
    background-color: rgb(87, 87, 87);
    border-color: rgb(66, 66, 66);
    color: white;
}

.SelectedApplicant {
    background-color: rgb(100, 100, 100);
    border-color: white;
    color: white;
}

.UnselectedApplicant {
    background-color: rgb(80, 80, 80);
    border-color: black;
    color: black;
}

.ApplicationDropDown {
    background-color: #DDDDDD;
    border-color: black;
    color: black;
}

.Application-Window {
    background-color: rgb(87, 87, 87);
    border-color: white;
    color: white;
}

/*END WELCOME SCREEN SECTION*/

/*TAB SECTION*/
.tab-list {
    background: -webkit-linear-gradient(top, rgba(66, 66, 66, 0), rgba(66, 66, 66, 1));
}

.tab {
    border-color: white;
}

.tab:hover {
    border-color: white;
    background-color: #606060;
}

.tab-close {
    filter: invert(100%);
    margin-left: auto;
    margin-right: 50px;
}

.tab-close:hover {
    background-color: transparent;
}

.tab-close-scenario {
    filter: invert(100%);
}

.tab-close-scenario:hover {
    background-color: transparent;
}

.clear-scenarios {
    color: rgb(0, 251, 226);
}

.instructionsText{
    color: white;
}

.selected:hover {
    border-color: white;
    background-color: #606060;
}

.selected {
    border-color: white;
    background-color: #606060;
}

/*END TAB SECTION*/

/*FEATURE CONTROL SECTION*/

/* Feature Control */

.feature-control-card {
    box-shadow: #ffffff20;
    background-color: rgb(87, 87, 87);
}

.lock img {
    filter: invert(100%);
}

.pin img {
    filter: invert(100%);
}

.priority-value-input {
    background-color: transparent;
    color: white;
}

/*END FEATURE CONTROL SECTION*/

/*STATUS SECTION*/
/*END STATUS SECTION*/

/*EXPLANATION SECTION*/
.explanation-container {
    box-shadow: rgba(0, 0, 0, 0.03);
    background-color: rgb(87, 87, 87);
}

.cycle-button {
    background-color: #ffffff;
    color: black;
}

.cycle-button:hover {
    background-color: #eeeeee;
}

.toggle {
    /*unknown*/
    background-color: white;
    color: black;
}

.toggle:hover {
    background-color: #eeeeee;
}

/*END EXPLANATION SECTION*/

.tick-label {
    color: var(--text-color);
}

.back-welcome-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.back-welcome-button:hover {
    background-color: rgba(87, 87, 87, 0.5);
}