.hidden {
    display: none;
}

/* Feature Control Tab */

.feature-control-tab-card {
    position: relative;
}

.feature-control-header {
    display: grid;
    height: 50px;
    width: 393px;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "secTile toggle";
}

.feature-control-tab-title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20%;
    grid-area: secTile;
}

.priority-toggle {
    grid-area: toggle;
    align-self: stretch;
}

.information {
    height: 30px;
    width: 30px;
}

/* Feature Control */

.feature-control-box {
    display: grid;
    box-shadow: 0 0 1em #00000020;
    border-radius: 8px;
    width: 393px;
    height: 160px;
    margin-bottom: 2%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas:
        "arrowu title lock"
        "input slider pin"
        "arrowd slider empty";
}

/* .feature-control-box.no-priority {
    display: grid;
    box-shadow: 0 0 1em #00000020;
    border-radius: 8px;
    width: 393px;
    height: 160px;
    margin-bottom: 2%;
    grid-template-columns: 10% 75% 15%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas:
        "arrowu title lock"
        "input slider pin"
        "arrowd slider empty";
} */


.feature-title {
    font-size: 20px;
    text-align: center;
    grid-area: title;
    padding-top: 3%;
}

.lock {
    grid-area: lock;
    align-self: center;
}

.lock img {
    height: 50%;
    width: 50%;
}

.arrow-up-container {
    grid-area: arrowu;
    height: 60%;
    width: 60%;
    padding-top: 50%;
    padding-left: 16%;
    align-self: center;
}
.arrow-up img {
    height: 50%;
    width: 50%;
}

.arrow-down.pinned {
    filter: grayscale(100%);
}

.arrow-up.pinned {
    filter: grayscale(100%);
}
.arrow-down-container {
    grid-area: arrowd;
    height: 60%;
    width: 60%;
    padding-top: 50%;
    padding-right: 65%;
    align-self: center;
    transform: rotate(180deg);
}

.arrow-down img {
    height: 50%;
    width: 50%;
}

.pin {
    grid-area: pin;
    align-self: center;
}

.pin img {
    height: 60%;
    width: 60%;
}

.priority-value-input {
    font-weight: bold;
    text-align: center;
    grid-area: input;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    align-self: center;
    padding-left: 40%;
}

.priority-value::-webkit-outer-spin-button,
.priority-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.priority-value[type=number] {
    -moz-appearance: textfield;
}

.slider {
    grid-area: slider;
    align-self: strech;
    align-self: center;
    padding-left: 4%;
    padding-right: 4%;
}

.slider.no-priority {
    grid-area: slider;
    align-self: strech;
    align-self: center;
}
.slider-mark {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.slider-label {
    font-size: 12px;
    color: black;
}

.rotate180 {
    transform: rotate(180deg);
}