.hidden {
    display: none;
}

/* Feature Control Tab */

.feature-control-tab-card {
    position: relative;
}

.feature-control-header {
    display: grid;
    height: 50px;
    width: 393px;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "secTile toggle";
}

.feature-control-tab-title {
    font-size: 30px;
    font-weight: bold;
    grid-area: secTile;
}

.priority-toggle {
    grid-area: toggle;
    
}

.information {
    height: 30px;
    width: 30px;
}

/* Feature Control */

.feature-control-box {
    display: grid;
    box-shadow: 0 0 1em #00000020;
    border-radius: 8px;
    width: 393px;
    height: 170px;
    margin-bottom: 2%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas:
        "arrowu title lock"
        "input slider slider"
        "arrowd slider slider";
}

.feature-control-box.pinned {
    filter: grayscale(100%);
}

.feature-title {
    font-size: 20px;
    text-align: center;
    grid-area: title;
    padding-top: 5%;
}

.lock {
    grid-area: lock;
    align-self: center;
}

.lock img {
    height: 45%;
    width: 45%;
}

.arrow-up {
    grid-area: arrowu;
    height: 60%;
    width: 60%;
    padding-top: 20%;
    padding-left: 20%;
    align-self: center;
}

.arrow-down {
    grid-area: arrowd;
    height: 60%;
    width: 60%;
    padding-top: 20%;
    padding-right: 20%;
    align-self: center;
    transform: rotate(180deg);
}


.pin {
    grid-area: lock;
    margin-left: 50%;
    align-self: center;
}

.pin img {
    height: 70%;
    width: 70%;
}

.priority-value-input {
    font-weight: bold;
    text-align: center;
    grid-area: input;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    align-self: center;
    padding-left: 30%;
}

.priority-value::-webkit-outer-spin-button,
.priority-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.priority-value[type=number] {
    -moz-appearance: textfield;
}

.slider {
    grid-area: slider;
    align-self: strech;
    align-self: center;
    padding-left: 2%;
    padding-right: 15%;
    /* transform: scale(1.2); */
}
.slider-mark {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.slider-label {
    font-size: 12px;
    color: black;
}

.rotate180 {
    transform: rotate(180deg);
}