body {
    background: white;
    /* Make it white if you need */
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
    color: #000;
    font-family: 'Nimbus Sans', sans-serif;
    /* Use the Google Fonts family */
    font-weight: 700;
    /* Bold weight */
}

/* FeatureControlTab */

.feature-control-tab {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    flex-direction: column;
}

.feature-control-tab-title {
    font-size: 30px;
    font-weight: bold;
}

.information {
    height: 30px;
    width: 30px;
}

/* FeatureControl */

.feature-control-box {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    position: relative;
}

.feature-control-box.locked {
    filter: grayscale(100%);
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #dbd7d7;
    border-bottom: 2px solid black;
    position: relative;
}

.feature-title {
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 10px 0;
}

.lock img {
    position: absolute;
    top: 35px;
    right: 20px;
    width: 48px;
    height: 28px;
}

.triangle-container {
    height: 25px;
    width: 25px;
    position: relative;
}

.pin img {
    position: absolute;
    top: 36px;
    right: 60px;
    height: 27px;
    width: 48px;
}

.priority-value {
    font-size: 18px;
    margin-left: 31px;
    margin-top: 68px;
    color: black;
    font-family: 'Nimbus Sans', sans-serif;
    font-weight: bold;
    position: absolute;
}

.number-line {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 55px;
    height: 100%;
    scale: 140%;
}

/* Additional styles for specific conditions */

.rotate180 {
    transform: rotate(180deg);
}

/* NumberLineChart.jsx */
.number-line-container {
    margin-top: 20px;
    position: relative;
}

.current-value-dot {
    color: black;
    fill: black;
}

.text-label {
    position: absolute;
    top: -18px;
    /* Adjust the distance above the marker */
    left: 50%;
    /* Center the label horizontally */
    transform: translateX(-50%);
    color: #636363;
    font-weight: bold;
    font-size: 12px;
}

.NumberLineChart {
    width: 300px;
    height: 100px;
}

.range-inputs input {
    width: 30px;
    /* Set the width as per your requirements */
    height: 10px;
    /* Set the height as per your requirements */
    padding: 1px;
    /* Add padding for spacing inside the input box */
    font-size: 12px;
    color: #2596be;
    border: none;
    background: none;
    outline: none;
    -moz-appearance: textfield;
    transition: background-color 0.7s ease;
    border-radius: 5px;
    text-align: center;
}

.range-inputs input[type="number"]::-webkit-inner-spin-button,
.range-inputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Webkit browsers like Chrome and Safari */
    margin: 0;

}

.range-inputs div:hover {
    background-color: #3498db;
    transition: background-color 0.7s ease;
}

.range-inputs div:hover input {
    color: white;

}

.grey-line {
    height: 4px;
    background-color: #636363;
    position: absolute;
}