:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    color: #213547;
    background-color: #eeeeee;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    padding: 20;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    margin-top: 5px;
}

button {
    border-radius: 8px;
    border: 0px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    color: white;
    background-color: #0090ff;
}

button:hover {
    background-color: #007ede;
}

button:disabled {
    opacity: 0.3;
    pointer-events: none;
}


.cycle-button {
    background-color: #ffffff;
    color: black;
}

.cycle-button:hover {
    background-color: #eeeeee;
}


#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card {
    background-color: white;
    box-shadow: 0 0 1em #00000022;
    border-radius: 15px;
    padding: 1em;
}

.toggle {
    background-color: white;
    color: black;
    border-radius: 0px;
}

.toggle:hover {
    background-color: #eeeeee;
}

.selected {
    border-bottom: 2px solid #555555;
}

.feature {
    margin-right: 10px;
}

.tick-label {
    color: var(--text-color);
}

.back-welcome-button {
    background-color: #ffffff;
    color: black;
    align-self: center;
}

.back-welcome-button:hover {
    background-color: #eeeeee;
}

.explanation-list {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.03);
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
}