
.number-line-container {
  position: relative;
}

.svg-num {
  align-self: center;
}

/* RANGE INPUT STYLING */

.range-inputs input {
    /* width: auto;  */
    width: 30px; 
    height: 10px;
    padding: 5px  ;     /* Add padding for spacing inside the input box */
    font-size: 12px;
    color: #2596be; 
    border-radius: 5px;
    text-align: center;
    transition: color 0.5s ease, background-color 0.5s ease; 
  }
  .range-inputs input:focus {
    color: white;
    background-color: #3498db;
}
  .range-inputs input[type="number"]::-webkit-inner-spin-button,
  .range-inputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .range-inputs div:hover input {
    color: white;
    background-color: #3498db;
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  
