.section-title {
    font-family: Arial Helvetica, sans-serif;
    font-weight: bold;
    color: orange;
}

.feature-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

/* MAIN APP SCREEN LAYOUR */

.super-div {
    display: grid;
    /* grid-template-columns: 200px 500px; */
    grid-template-rows: auto;
    grid-template-areas:
        "settings tabs"
        "featurecontrols status"
        "featurecontrols explanation"
        "featurecontrols suggestion";
}
/*TABS SECTION*/
.tab-section {
    grid-area: tabs;
    border: 1pt solid;
}

.tabSection{
    display:flex;
    flex-direction: row;
}

.tab{
    border-style: inset;
    border-width: 1pt;
    border-radius: 15px;
    display:flex;
    flex-direction: row;
    margin-right: 0.3vw;
    padding-left:5pt;
    padding-right:5pt;
}

.tab:hover{
    border-color: rgb(0, 72, 255);
}

.tab button{
    background-color: rgba(0,0,0,0);
    border:none;
    height: 10vh;
    width:auto;
    padding:0;
}

.settings-profile-section {
    grid-area: settings;
    border: 1pt solid;
}

.feature-controls {
    grid-area: featurecontrols;
    border: 1pt solid;
}

.status-section {
    grid-area: status;
    border: 1pt solid;
}

.explanation {
    grid-area: explanation;
    border: 1pt solid;
}

.suggestion {
    grid-area: suggestion;
    border: 1pt solid;
}

/* EXPLANATION AREA */
.explanation-feature {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

.explanation-value {
    margin-top: 0px;
    margin-bottom: 0px;
}