.section-title {
    font-family: Arial Helvetica, sans-serif;
    font-weight: bold;
}


.feature-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

/* START GRID LAYOUT */

.super-div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "backGrid scenarioGrid"
        "featureControlGrid statusGrid"
        "featureControlGrid explanationGrid"
        "featureControlGrid suggestionGrid";
    grid-gap: 20px;
}

#scenario-grid {
    grid-area: scenarioGrid;
    min-width: 615px;
    max-width: 615px;
    height: 100px;
}

#status-grid {
    grid-area: statusGrid;
    min-width: 615px;
    max-width: 615px;
    height: fit-content;
}

#explanation-grid {
    grid-area: explanationGrid;
    min-width: 615px;
    max-width: 615px;
    height: fit-content;
}

#suggestion-grid {
    grid-area: suggestionGrid;
    min-width: 615px;
    max-width: 615px;
    height: fit-content;
}

#back-welcome-grid {
    grid-area: backGrid;
    display: 'flex';
}

#feature-controls-grid {
    grid-area: featureControlGrid;
    max-height: 700px;
    min-height: 700px;
}


/* END GRID LAYOUT */

#app-logo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.instructions-text {
    color: #666666;
}

/* Hide the scrollbar for WebKit browsers */
.tab-list::-webkit-scrollbar {
    display: none;
}

.tab {
    border: 1.5px solid #cccccc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 0.3vw;
    padding-left: 5pt;
    padding-right: 5pt;
    height: auto;
    width: auto;
}

.tab:hover {
    border-color: #eeeeee;
    background-color: #eeeeee;
    cursor: default;
}

.tab p {
    margin-left: 5px;
    margin-right: 10px;
}

.tab-close {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 50px;
}

.tab-close:hover {
    background-color: #dedede;
}


.tab-close-scenario {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    align-self: center;
}

.tab-close-scenario:hover {
    background-color: #dedede;
}

.clear-scenarios {
    margin: 10px 10px 10px 15px;
    cursor: pointer;
    color: #0c52f7;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    color: #213547;
    background-color: #eeeeee;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    padding: 20;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    margin-top: 5px;
}

button {
    border-radius: 8px;
    border: 0px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    color: white;
    background-color: #0062ac;
}

button:hover {
    background-color: #007ede;
}

button:disabled {
    opacity: 0.3;
    pointer-events: none;
}


.cycle-button {
    background-color: #ffffff;
    color: black;
}

.cycle-button:hover {
    background-color: #eeeeee;
}


#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card {
    background-color: white;
    box-shadow: 0 0 1em #00000022;
    border-radius: 15px;
    padding: 1em;
}

.toggle {
    background-color: white;
    color: black;
    border-radius: 0px;
}

.toggle:hover {
    background-color: #eeeeee;
}

.selected {
    border: 2px solid #0090ff;
    background-color: #eeeeee;
}

.selected:hover {
    border: 2px solid #0090ff;
    background-color: #eeeeee;
}

.feature {
    margin-right: 10px;
}

.tick-label {
    color: var(--text-color);
}

.back-welcome-button {
    background-color: #ffffff;
    color: black;
    align-self: center;
}

.back-welcome-button:hover {
    background-color: #eeeeee;
}

.explanation-container {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.03);
    padding: 15px;
    border-radius: 10px;
}

.explanation-list {
    max-height: 250px;
    overflow-y: auto;
}

.explanationLine {
    margin-left: auto;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}