.section-title {
    font-family: Arial Helvetica, sans-serif;
    font-weight: bold;
}

.feature-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

/* MAIN APP SCREEN LAYOUT */

.super-div {
    display: grid;
    /* grid-template-columns: 200px 500px; */
    grid-template-rows: auto;
    grid-template-areas:
        "settings tabs"
        "featurecontrols status"
        "featurecontrols explanation"
        "featurecontrols suggestion";
}

.tab-section {
    grid-area: tabs;
}

.settings-profile-section {
    grid-area: settings;
}

.feature-controls {
    grid-area: featurecontrols;
}

.status-section {
    grid-area: status;
}

.explanation {
    grid-area: explanation;
}

.suggestion {
    grid-area: suggestion;
}